#titles{
    margin-left: 400px;
}

body{
    background-color: rgb(165, 163, 163);
}
#results{
    display: none;
    background-color: rgb(214, 125, 7);
    /* width: 520px; */
    height: 170px;
    margin-left: 400px;
    font-family: cursive;
    font-size: 19px;
    border-radius: 7px;
    box-shadow: 1px 2px 1px 1px black;
}
.disp{
    color: whitesmoke;
    font-weight: bold;
}