#titles{
    margin-left: 400px;
}

body{
    background-color: rgb(165, 163, 163);
}
#results{
    display: none;
    background-color: rgb(214, 125, 7);
    /* width: 520px; */
    height: 170px;
    margin-left: 400px;
    font-family: cursive;
    font-size: 19px;
    border-radius: 7px;
    box-shadow: 1px 2px 1px 1px black;
}
.disp{
    color: whitesmoke;
    font-weight: bold;
}
li{
    color: whitesmoke;
    font-weight: bold;
}
#res{
    display: none;
    color: red;
    font-family: cursive;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 470px;
}
#button{
    font-weight: bold;
}
h2{
    margin-left: 500px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-decoration: underline;
}